
/* Medium Devices, Desktops */
@media only screen and (max-width : 1119px) {
  .title--line::before {
    width: 4px;
    left: -24px;
    height: 40px;
    border-radius: 0 10px 10px 0;
  }
  .services {
    padding: 24px 0 40px;
  }
  .head .panel {
    display: none;
  }
  .nav {
    margin-top: 32px;
    position: relative;
  }
  .nav::after {
    top: 50%;
    width: 24px;
    height: 40px;
    content: " ";
    right: -24px;
    margin-top: -3px;
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
    background: linear-gradient(to left, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0.0001));
  }
  .nav__list {
    overflow: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: -24px;
    margin-right: -24px;
    padding-bottom: 5px;
  }
  .nav__list::-webkit-scrollbar {
    height: 0 !important;
    background: transparent;
  }
  .nav__list::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .title--line::before {
    left: -15px;
  }
  .logo {
    margin-left: 16px;
  }
  .logo::before {
    display: none;
  }
  .header .panel__item:not(:nth-last-child(-n+2)) {
    display: none;
  }
  .panel__item--separator {
    margin-left: 16px;
  }
  .nav {
    margin-top: 24px;
  }
  .nav__list {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .hero {
    margin-top: 24px;
    display: block;
  }
  .hero__left,
  .hero__right {
    width: 100%;
    padding-top: 0;
  }
  .hero .paragraph p:last-child {
    display: none;
  }
  .hero__more {
    margin-top: 16px;
  }
  .hero__right {
    margin-top: 16px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  } 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1120px) {
  .container {
    max-width: 1120px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .header {
    display: none;
  }
  .nav__list {
    flex-wrap: wrap;
  }
}
